flask
flask-cors
werkzeug
python-dotenv
requests
asyncio
datetime
secure-smtplib
email
pymongo
base64
langchain
langchain-google-genai
langchain-scrapegraph
langchain-community
google-generativeai
groq
